
@font-face {
  font-family: 'Fredoka dingbats';
  src: url('./assets/fonts/Fredokadingbats.eot');
  src: url('./assets/fonts/Fredokadingbats.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Fredokadingbats.woff2') format('woff2'),
      url('./assets/fonts/Fredokadingbats.woff') format('woff'),
      url('./assets/fonts/Fredokadingbats.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/FredokaOne-Regular.eot');
  src: url('./assets/fonts/FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/FredokaOne-Regular.woff2') format('woff2'),
      url('./assets/fonts/FredokaOne-Regular.woff') format('woff'),
      url('./assets/fonts/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka dingbats';
  src: url('./assets/fonts/Fredokadingbats_1.eot');
  src: url('./assets/fonts/Fredokadingbats_1.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Fredokadingbats_1.woff2') format('woff2'),
      url('./assets/fonts/Fredokadingbats_1.woff') format('woff'),
      url('./assets/fonts/Fredokadingbats_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.bluecolor{
  background: #11014A;
}



.gradientcolor{
  background: linear-gradient(to right, #2AF5C0, #23D1D4, #1AA4EC, #1B80C9);
  
}
/* .gradientcolor2{
  background: linear-gradient(to right, #00FF0A, #FFFFFF, #FAFF00);
} */
.graph-h{
  height: 100vh;
  overflow-x: hidden;
}

 /* .MuiTypography-h3 {
  margin-right: 20px!important;
} */

.recharts-wrapper {
  margin: auto;
}
/* .gradientcolor{
  background: url(./assets/images/bggra.png);
} */

.logo-e {
  max-width: 250px;
}
.PointerMain {
  width: 64%;
   /* border: 1px solid black;  */
  padding: 7px 10px;
  display: block;
  position: absolute;
  text-align: start;
  top: 30.5rem;
  left: 16.1rem;
}

.Pointer {
  display: inline-block;
  background: yellowgreen;
  border: 0 solid;
  border-radius: 20px;
  width: 4px;
  height: 40px;
  position: relative;
  opacity: 0.8;
}

.spotPrice {
  display: inline-block;
  background: black;
  height: 19px;
  color: white;
  font-weight: 500;
  position: relative;
  top: -29px;
  border: 1px solid black;
  border-radius: 12px;
  width: 65px;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  right: 34px;
}

.applyFlex {
  display: flex;
  padding: 8px;
  margin: 8px 21px;
}



path.recharts-curve.recharts-line-curve {
  position: relative;
}
g.recharts-layer.recharts-line {
  position: relative;
}
/* .css-mcrq3q-MuiGrid-root,
.css-ps0wbp-MuiGrid-root{
  flex-wrap: inherit !important;
} */

g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis {
  display: none !important;
}
g.recharts-cartesian-grid {
  display: none !important;
}
path.recharts-curve.recharts-line-curve {
  stroke: #05EFFE;
  stroke-width: 5px;
}
.recharts-responsive-container {
  position: relative;
  width:106% !important;
  left: -77px;
} 

g.recharts-layer.recharts-cartesian-axis text {
  fill: #000;
}

line.recharts-cartesian-axis-line{
  fill: #fff;
}

/* g.recharts-layer.recharts-cartesian-axis-tick:nth-child(15) text {
  font-size: 22px;
  font-weight: 700;
  stroke: #000;
  fill: #000;
} */

.highliteText{
  font-size: 22px;
  font-weight: 700;
  stroke: #000;
  fill: #000;
}

.recharts-default-tooltip {
  background: linear-gradient(180deg, #59F2D0 0%, #56CAE6 100%)!important;
  color: #000;
  font-weight: 700;
  border-radius: 5px;
  outline: none!important;
  border: none !important;
  box-shadow: none!important;
}


.recharts-tooltip-wrapper.recharts-tooltip-wrapper-right.recharts-tooltip-wrapper-bottom{
  border: 0px!important;
  outline: none!important;
}

@media screen and (max-width:1024px){
  .recharts-responsive-container {
    width:111% !important;
  } 

}
@media screen and (max-width:768px){
  .recharts-responsive-container {
    width:115% !important;
  } 

}
@media screen and (max-width:767px){
  .graph-h {
    height: auto;
}
.recharts-responsive-container {
  left: -82px;
} 

}
@media screen and (max-width:575px){
  .top-bar {
    justify-content: center !important;
    gap: 20px;
  }
  .recharts-responsive-container {
    left: -75px;
    width:117% !important;
  } 
  .css-1o52q67 {
    width: 250px !important;
}
.css-1o52q67 p {
  font-size: 20px;
}
.MuiBox-root.css-xi606m p {
  font-size: 20px;
}
h3.MuiTypography-root.MuiTypography-h3.css-dpsdi6-MuiTypography-root {
  font-size: 40px;
  margin-right: 20px;
}
}
@media screen and (min-width:2000px){
  /* p.MuiTypography-root.MuiTypography-body1.css-y5n7vl-MuiTypography-root {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
} */
.bottomtextCss{
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
}
}

@media screen and (max-width:425px){
  .recharts-responsive-container {
    width:124% !important;
  } 
}
@media screen and (max-width:375px){
  .recharts-responsive-container {
    width:127% !important;
  } 
}
@media screen and (max-width:320px){
  .recharts-responsive-container {
    width:133% !important;
  } 
}

ul.recharts-default-legend {
  display: none;
}
