.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PointerMain {
  width: 94%;
  border: 1px solid black;
  padding: 7px 10px;
  display: block;
  position: absolute;
  text-align: start;
  top: 9.8rem;
}

.Pointer {
  display: inline-block;
  background: palevioletred;
  width: 4px;
  height: 40px;
  position: relative;
  opacity: 60%;
}

.spotPrice {
  display: inline-block;
  background: greenyellow;
  height: 19px;
  position: relative;
  opacity: 60%;
  top: 21px;
  border: 1px solid green;
  border-radius: 12px;
  width: 65px;
  font-size: 12px;
  padding: 2px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
